.converter {
  padding-top: 80px;
}
.converter .container {
  height: 100%;
}
.converter-title {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 85px;
  text-align: center;
  margin: 0 auto;
}
.converter-inner-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.currency-wrapper {
  display: flex;
  align-items: center;
}
.convert-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.convert-svg {
  width: 35px;
}
.converter-input {
  outline: none;
  border: none;
  background-color: #f1f2f5;
  height: 45px;
  font-size: 20px;
  padding-left: 20px;
  margin-left: 20px;
  transition: 0.3s;
}
.converter-input:hover,
.converter-input:active {
  background-color: #e8e8e8;
}
.select {
  margin-left: 20px;
  width: 70px;
  height: 35px;
  font-size: 18px;
  background: none;
  border: 1px solid gainsboro;
  cursor: pointer;
}
